<%= form_with(model: provider, local: true,:html => {autocomplete: "off"}) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :provider_name %>
  </div>

  <div class="field">
    <%= form.label :fiction_name %>
    <%= form.text_field :fiction_name, id: :provider_fiction_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :provider_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :provider_email %>
  </div>

  <div class="field">
    <%= form.label :cuit %>
    <%= form.number_field :cuit, id: :provider_cuit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
