<div class="box">
  <%= form_with(model: provider, local: true, :html => {class: 'form-horizontal', autocomplete: "off"}) do |form| %>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :name, 'Proveedor', class: 'col-sm-3 control-label ta-left' %>
              <div class="col-sm-9">
                <%= form.text_field :name, id: :name, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :fiction_name, 'Razon Social', class: 'col-sm-3 control-label ta-left' %>
              <div class="col-sm-9">
                <%= form.text_field :fiction_name, id: :provider_fiction_name, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :phone, 'Teléfono', class: 'col-sm-3 control-label ta-left' %>
              <div class="col-sm-9">
                <%= form.number_field :phone, id: :provider_phone, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :email, 'Correo', class: 'col-sm-3 control-label ta-left' %>
              <div class="col-sm-9">
                <%= form.email_field :email, id: :provider_email, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :cuit, 'CUIT', class: 'col-sm-3 control-label ta-left' %>
              <div class="col-sm-9">
                <%= form.number_field :cuit, id: :provider_cuit, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="actions">
              <%= form.submit 'Guardar', class: 'btn btn-default pull-right' %>
            </div>
          </div>

        </div>
      </div>
  <% end %>
</div>
<% content_for :otherscripts do %>

    <% if provider.errors.any? %>
        <script>
            <% provider.errors.full_messages.each do |err| %>
            toastr.error('<%= err %>');
            <% end %>
        </script>
    <% end %>

<% end %>