<% @providers.each do |provider| %>
    <tr>
      <td><%= provider.name %></td>
      <td><%= provider.razon %></td>
      <td><%= provider.phone %></td>
      <td><%= provider.email %></td>
      <td><%= provider.cuit %></td>
      <td style="width: 50px"><%= link_to '', provider , class: 'fa fa-eye'%></td>
      <td style="width: 50px"><%= link_to '', edit_provider_path(provider), remote: true,class: 'fa fa-pencil' %></td>
    </tr>
<% end %>