<%= render 'partials/content_header', back: true, backPath: providers_path, title: '', add: 0, text: '', path_action: @provider, item: 'el proveedor' %>
<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="row form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <div class="show-property">
              <label>
                <span class="show-key">Proveedor:</span>
                <span class="show-value" style="left:35%;"><%= @provider.name %></span>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="show-property">
              <label>
                <span class="show-key">Nombre de ficción:</span>
                <span class="show-value" style="left:35%;"><%= @provider.name %></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="show-property">
              <label>
                <span class="show-key">Correo:</span>
                <span class="show-value" style="left:35%;"><%= @provider.email %></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="show-property">
              <label>
                <span class="show-key">CUIT:</span>
                <span class="show-value"><%= @provider.cuit %></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="show-property">
              <label>
                <span class="show-key">Teléfono:</span>
                <span class="show-value"><%= @provider.phone%></span>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</section>
