<%= form_with(model: user, local: true, :html => {autocomplete: "off"}) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name, 'Nombre y apellidos' %>
      <%= form.text_field :name, id: :name %>
    </div>

    <div class="field">
      <%= form.label :email, 'Correo' %>
      <%= form.text_field :email, id: :email %>
    </div>

    <div class="field">
      <%= form.label :username, 'Usuario' %>
      <%= form.text_field :username, id: :username %>
    </div>
    <div class="field">
      <%= form.label :phone, 'Teléfono' %>
      <%= form.text_field :phone, id: :phone %>
    </div>

      <%= form.hidden_field :password, id: :password,value: 'pas' %>

    <div class="field">
      <%= form.label :role_id, 'Rol' %>
      <select name="user[role_id]" id="role_id">
        <% @roles.each do |rol| %>
            <option value="<%= rol.id %>"><%= rol.name %></option>
        <% end %>
      </select>
    </div>



    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
