<section class="content-header">
  <h1 class="mt-0">
    <%= @title %>
  </h1>
  <%= link_to '<i class="fa fa-plus"></i> Nuevo usuario'.html_safe , new_user_path, class: 'btn btn-default pull-right' %>
</section>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role.name %></td>
            <td style="width: 50px;"><%= link_to '', user, class: 'fa fa-eye' %></td>
            <td style="width: 50px;"><%= link_to '', edit_user_path(user), class: 'fa fa-pencil' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>
