<%= render 'partials/content_header', back: false,backPath:'' ,title: @title,add:1,text:'<i class="fa fa-plus"></i> Nuevo usuario',path_action: new_user_path %>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role.name %></td>
            <td class="width-50"><%= link_to '', user, class: 'fa fa-eye' %></td>
            <td class="width-50"><%= link_to '', edit_user_path(user), class: 'fa fa-pencil' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>
