<div class="login-box">
  <div class="login-box-body">
    <h2>Cambie su contraseña</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group has-feedback">
          <%= f.label :password, "Nueva contrseña" %><br/>
          <% if @minimum_password_length %>
              <em>(mínimo <%= @minimum_password_length %> caracteres)</em><br/>
          <% end %>
          <%= f.password_field :password, class:'form-control', autofocus: true, autocomplete: "off" ,required: true%>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br/>
          <%= f.password_field :password_confirmation, class:'form-control',autocomplete: "off", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Cambiar mi contraseña",class: 'btn btn-primary btn-block btn-flat' %>
        </div>
    <% end %>
    <br>

    <%= link_to "Iniciar sesión", new_session_path(resource_name) %><br />

  </div>
  <!-- /.login-box-body -->
</div>

<% content_for :otherscripts do %>

    <% if !resource.errors.empty? %>
        <script>
            <% resource.errors.full_messages.each do |err| %>
            toastr.error('<%= err %>');
            <% end %>
        </script>
    <% end %>


<% end %>