<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <%= form_with(model: @color, html: {style: "display:inline;",autocomplete: "off" }) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name ,'Color', class:"control-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Guardar', class: "btn btn-primary" %>
          <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
    <% end %>
  </div>
</div>


<% content_for :otherscripts do %>
    <% if @color.errors.any? %>
        <script>
            <% @color.errors.full_messages.each do |err| %>
            toastr.options.closeButton = true;
            toastr.error('<%= err %>');
            <% end %>
        </script>
    <% end %>


<% end %>