<%= form_with(model: color, local: true, :html => {autocomplete: "off"}) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :color_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% content_for :otherscripts do %>

  <% if color.errors.any? %>
    <script>
        toastr.options.closeButton = true;
        toastr.error('<%= color.errors.messages[:name][0] %>')
    </script>
  <% end %>

<% end %>