<div class="box">
  <!-- form start -->
  <%= form_for(@retacerium, html: {class: 'form-horizontal', autocomplete: 'off'}, local: true) do |form| %>
      <div class="box-body">
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :name, 'Nombre', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= form.text_field :name, id: :retacerium_name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= form.label :category_id, 'Categoria', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">

                <select name="retacerium[category_id]" id="retacerium[category_id]" class="form-control">
                  <% if action_name == "edit" %>
                      <% @categories.each do |category| %>
                          <option <%= 'selected' if category.id == @retacerium.category_id %> value="<%= category.id %>"><%= category.name %></option>
                      <% end %>

                  <% else %>
                      <option selected></option>
                      <% @categories.each do |category| %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :cost, 'Costo', class: 'col-sm-2 control-label' %>
              <div class="col-sm-5">
                <%= form.number_field :cost, id: :retacerium_cost, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= form.label :rinde, 'Rinde', class: 'col-sm-2 control-label' %>
              <div class="col-sm-5">
                <%= form.number_field :rinde, id: :retacerium_rinde, class: 'form-control' %>
              </div>
              <small class="col-sm-2 control-label">por mt.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :color_id, 'Colores', class: 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#colorsModal" data-whatever="">Agregar
                  colores
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <%#= link_to 'Atrás', request.referer, class: 'btn btn-default' %>
        <%= form.submit 'Guardar', class: 'btn btn-default pull-right' %>
      </div>
      <!-- /.box-footer -->

      <!-- Modal -->
      <div class="modal fade" id="colorsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Colores</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div id="allColors" class="col-sm-12 checkbox">
                  <% @colors.each do |color| %>
                      <% if @retacerium.colors.include? color %>
                          <label class="col-sm-4">
                            <%= check_box_tag "colors[]", color.id, true %>
                            <%= color.name %>
                          </label>
                      <% else %>
                          <label class="col-sm-4">
                            <%= check_box_tag "colors[]", color.id, false %>
                            <%= color.name %>
                          </label>
                      <% end %>
                  <% end %>
                </div>
                <br><br>
              </div>
            </div>
            <div class="modal-footer">
              <!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
              <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#newColorModal">Crear
                nuevo color
              </button>
              <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<!-- Modal -->
<%= form_with(model: Color.new, :html => {autocomplete: "off"}, remote: true, id: 'addColor', class: 'form-horizontal') do |form| %>
    <div class="modal fade" id="newColorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <br><br>
          <div class="modal-body">
            <div class="form-group">
              <%= form.label :name, 'Nombre', class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <%= form.text_field :name, id: :color_name, class: 'form-control' %>
              </div>
            </div>
            <br><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-default pull-right">Guardar</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% content_for :otherscripts do %>
    <% if retacerium.errors.any? %>
        <script>
            <% retacerium.errors.full_messages.each do |err| %>
            toastr.options.closeButton = true;
            toastr.error('<%= err %>');
            <% end %>
        </script>
    <% end %>

    <script>
        $(function () {
            $("#addColor").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: this.action,
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 'created') {
                            $("#color_name").val('');
                            $('#newColorModal').modal('hide');
                            $('#allColors').append(`<label class="col-sm-4">
                                                                           <input type="checkbox" name="colors[]" id="colors_" value="` + response.data.id + `">` + response.data.name + `
                                                                        </label>`);
                            toastr.success(response.flash.success);
                        }
                        else {
                            console.log(response);
                            toastr.error(response.errors.name[0]);
                            // $.each((response.errors.name), function (error) {
                            //     console.log(error);
                            //     toastr.error(error);
                            // });
                        }
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
        })
    </script>
<% end %>
