<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header">
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <!--        <input name="table_search" class="form-control pull-right" placeholder="Buscar" type="text">-->

        <!--        <div class="input-group-btn">-->
        <!--          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Costo</th>
        <th>Rinde</th>
        <th>Colores</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @retaceria.each do |retacerium| %>
        <tr>
          <td><%= retacerium.name %></td>
          <td><%= retacerium.category.name %></td>
          <td><%= retacerium.cost %></td>
          <td><%= retacerium.rinde %></td>
          <td>
            <% retacerium.colors.each do |color| %>
              <%= color.name %> <br>
            <% end %>
          </td>
          <td><%= link_to 'Ver', retacerium, class: 'btn btn-xs btn-info' %></td>
          <td><%= link_to 'Editar', edit_retacerium_path(retacerium), class: 'btn btn-xs btn-primary' %></td>
          <td><%= link_to 'Eliminar', retacerium, method: :delete, class: 'btn btn-xs btn-danger', data: {confirm: '¿Está usted seguro?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>


<br>

<%= link_to 'Añadir Producto', new_retacerium_path, class: 'btn btn-success' %>
