<div class="login-box">
  <!--<div class="login-logo">-->
    <!--<a href="../../index2.html"><b>Admin</b>LTE</a>-->
  <!--</div>-->
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inicia sesión para entrar al sistema</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <!--<input type="email" class="form-control" placeholder="Email">-->
        <%= f.text_field :username, autofocus: true, class:'form-control', autocomplete: "off" %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
        <!--<input type="password" class="form-control" placeholder="Password">-->
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-offset-3 col-xs-6">
          <%= f.submit "Iniciar sesión", class: 'btn btn-primary btn-block btn-flat' %>
          <!--<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>-->
        </div>
        <!-- /.col -->
      </div>
    <% end %>
    <!-- /.social-auth-links -->

    <!--<a href="#">I forgot my password</a><br>-->
    <!--<a href="register.html" class="text-center">Register a new membership</a>-->
    <br>
    <%= link_to "Olvide mi contraseña", new_password_path(resource_name) %>

  </div>
  <!-- /.login-box-body -->
</div>

