<%= form_with(model: category, local: true, :html => {autocomplete: "off"}) do |form| %>
    <div class="field">
      <%= form.label :name, 'Título' %>
      <%= form.text_field :name, id: :category_name %>
    </div>

    <div class="actions">
      <%= form.submit 'Guardar' %>
    </div>
<% end %>

<% content_for :otherscripts do %>

    <% if category.errors.any? %>
        <script>
            <% category.errors.full_messages.each do |err| %>
            toastr.error('<%= err %>');
            <% end %>
        </script>
    <% end %>

<% end %>
